<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.deve.devdatedictionary.DevDateDictionaryMapper">
   <!-- 通过类型编码查询数据字典的相关信息 -->
   <select id="queryByTypeCode" resultType="DataDictionary">
        select * from data_dictionary where typeCode = #{typeCode}
   </select>

</mapper>